<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Diary Entries</title>
</head>
<body>
<h1>Diary Entries</h1>
<ul>
    <li th:each="entry : ${entries}">
        <strong th:text="${entry.title}"></strong> - <em th:text="${entry.date}"></em>
        <p th:text="${entry.content}"></p>

        <!-- 이미지가 있을 경우에만 표시 -->
        <div th:if="${entry.imagePath != null}">
            <img th:src="@{/images/{imageName}(imageName=${entry.imagePath})}" alt="Diary Image" />
        </div>
    </li>
</ul>

<form th:action="@{/show/confirm}" method="post">
    <div>
        <label for="date">날짜:</label>
        <input type="date" name="date" required>
    </div>
    <div>
        <label for="title">제목:</label>
        <input type="text" name="title" required>
    </div>
    <div>
        <label for="content">내용:</label>
        <textarea name="content" required></textarea>
    </div>
    <button type="submit">저장</button>
</form>
</form>
</body>
</html>
